*{font-size:1em;line-height:1em;text-decoration:none;margin:0;padding:0;box-sizing:border-box}h1,h2,h3,h4,h5,h6{font-weight:normal}ol,ul,li{list-style-type:none}table{border-collapse:collapse}

body {
	font: 0 'courier new', monospace;
	overflow: hidden;
	user-select: none;
}

main {
	font-size: 10rem;
	width: 5em;
	height: 5em;
	transform: translate(-50%, -50%);
	position: fixed;
	top: 50%;
	left: 50%;
}

section {
	color: white;
	width: 100%;
	height: 100%;
	border-radius: 100%;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

.spin {
	animation: spin 15s forwards cubic-bezier(0.25, 0, 0.25, 1);
	pointer-events: none;
}

section div {
	height: 125%;
	transform: translate(-50%, 0);
	position: absolute;
	top: 50%;
	left: 50%;
}

span {
	font-size: 0.5em;
	line-height: 3em;
	text-align: center;
	text-transform: uppercase;
	color: inherit;
	width: 3em;
	height: 3em;
	display: block;
	border-radius: 100%;
	will-change: filter;
	cursor: pointer;
	transition: background 0.6s ease-in-out;
	transform: translate(-50%, 0);
	position: absolute;
	left: 50%;
	bottom: 100%;
}

.a span {background: #f44336}
.b span {background: #E91E63}
.c span {background: #9C27B0}
.d span {background: #673AB7}
.e span {background: #3F51B5}
.f span {background: #2196F3}
.g span {background: #03A9F4}
.h span {background: #00BCD4}
.i span {background: #009688}
.j span {background: #4CAF50}
.k span {background: #8BC34A}
.l span {background: #CDDC39}
.m span {background: #FFEB3B}
.n span {background: #FFC107}
.o span {background: #FF9800}
.p span {background: #FF5722}

div span:hover {opacity: 0.9}

.a .winner, .a ~ button {background: #009688}
.b .winner, .b ~ button {background: #4CAF50}
.c .winner, .c ~ button {background: #8BC34A}
.d .winner, .d ~ button {background: #CDDC39}
.e .winner, .e ~ button {background: #FFEB3B}
.f .winner, .f ~ button {background: #FFC107}
.g .winner, .g ~ button {background: #FF9800}
.h .winner, .h ~ button {background: #FF5722}
.i .winner, .i ~ button {background: #f44336}
.j .winner, .j ~ button {background: #E91E63}
.k .winner, .k ~ button {background: #9C27B0}
.l .winner, .l ~ button {background: #673AB7}
.m .winner, .m ~ button {background: #3F51B5}
.n .winner, .n ~ button {background: #2196F3}
.o .winner, .o ~ button {background: #03A9F4}
.p .winner, .p ~ button {background: #00BCD4}

button {
	font-size: 3.5em;
	line-height: 0;
	text-align: center;
	color: #fff;
	width: 1em;
	height: 1em;
	border: none;
	cursor: pointer;
	border-radius: 100%;
	outline: none;
	opacity: 1;
	transition: border-radius 0.4s linear;
	transform: translate(-50%, -50%) rotate(45deg);
	position: absolute;
	top: 50%;
	left: 50%;
}

button:hover {opacity: 0.9}

.marker {
	border-radius: 0 100% 100%;
	pointer-events: none;
}

.options {
	font-size: 5rem;
	cursor: pointer;
	transition: opacity 0.6s ease-in-out;
	position: fixed;
	bottom: 1em;
	right: 1em;
}

.options.a {color: #009688}
.options.b {color: #4CAF50}
.options.c {color: #8BC34A}
.options.d {color: #CDDC39}
.options.e {color: #FFEB3B}
.options.f {color: #FFC107}
.options.g {color: #FF9800}
.options.h {color: #FF5722}
.options.i {color: #f44336}
.options.j {color: #E91E63}
.options.k {color: #9C27B0}
.options.l {color: #673AB7}
.options.m {color: #3F51B5}
.options.n {color: #2196F3}
.options.o {color: #03A9F4}
.options.p {color: #00BCD4}

.spin ~ .options {
	opacity: 0;
	pointer-events: none;
}

.options .edit {margin-right: 2.5rem}

@keyframes spin {
	0% {transform: translate(-50%, -50%) rotate(0deg)}
	25% {color: rgba(255, 255, 255, 0.25)}
	75% {color: rgba(255, 255, 255, 1)}
	100% {transform: translate(-50%, -50%) rotate(-1800deg)}
}

@media (orientation:landscape) {
	html {font-size: 1vh}
}

@media (orientation:portrait) {
	html {font-size: 1vw}
}
